.colorp {
    color:rgb(59, 4, 110);
}

#colorid {
    color: rgb(19, 19, 150);
}

body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 22, 96) ;
}

h1{
text-align: center;
color: red;
text-shadow: 2px 2px 5px black;
}

h2{
font-family: cursive;
color: green;
text-shadow: 2px 2px 5px black;

}

p{
    color:blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight {
    background-color: aquamarine;
}

a:hover {
    color: red; /* Красный цвет при наведении */
    text-decoration: underline; /* Подчеркивание */
}

a:visited {
    color: rgb(9, 230, 64); /* зеленый цвет для посещённых ссылок */
}

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* контейнер для изображений */


.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 400px; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
    
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card figcaption {
    color: #555;
}

/* контейнер для изображений */

.pos{
    position:fixed;
}

.logo{
    position: absolute;
    width: 120px;
}